<button (click)="changeOrientation()">Orientation</button>

<div style="width: 300px; height: 550px; background-color: white; padding: 10px;border: solid; border-width: 1px;"
  *ngIf="vertical">
  <div style="height: 50%; border: solid; border-width: 2px; background-color: green;">
    <svg width="100%" height="100%">
      <rect x="120" y="0" width="50" height="10" fill="white" />
      <rect x="80" y="0" width="2" height="50" fill="white" />
      <rect x="210" y="0" width="2" height="50" fill="white" />
      <rect x="80" y="50" width="130" height="2" fill="white" />
      <circle cx="145" cy="25" r="5" fill="white" />
      <path d="M110 60 C 124 80, 164 80, 182 60" stroke="white" fill="transparent" />
      <image xlink:href="http://cdn.shopify.com/s/files/1/0257/6087/products/48-Soccer-Ball-Solo_Single_Front_ee0e6213-8997-45fc-bfc5-483ef2dc1391.png"
        x="150" y="100" height="20px" width="20px" />
      <image xlink:href="https://static.thenounproject.com/png/58041-200.png" x="60" y="85" height="30px" width="30px" />
      <image xlink:href="https://static.thenounproject.com/png/58040-200.png" x="100" y="85" height="30px" width="30px" />
      <image xlink:href="https://static.thenounproject.com/png/34339-200.png" x="230" y="100" height="30px" width="30px" />
    </svg>

  </div>
  <div style="height: 50%; border: solid; border-width: 2px; background-color: green;">
    <svg width="100%" height="100%">
      <rect x="120" y="265" width="50" height="10" fill="white" />
      <rect x="80" y="225" width="2" height="50" fill="white" />
      <rect x="210" y="225" width="2" height="50" fill="white" />
      <rect x="80" y="225" width="130" height="2" fill="white" />
      <circle cx="145" cy="245" r="5" fill="white" />
      
      
      <path d="M110 220 C 124 200, 164 200, 182 220" stroke="white" fill="transparent" />
      <image xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" x="60" y="85" height="30px" width="30px" />
      <image xlink:href="https://cdn3.iconfinder.com/data/icons/dragonball-z/48/Paul-12-128.png" x="150" y="85" height="30px" width="30px" />
      <image xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/256/dragonball-3-icon.png" x="230" y="100" height="30px" width="30px" />
    </svg>
  </div>
</div>

<div style="width: 550px; height: 300px; background-color: white; padding: 10px;border: solid; border-width: 1px;"
  *ngIf="!vertical">
  <div style="width: 49%; display: inline-block; height: 100%; border: solid; border-width: 2px; background-color: green;">

  </div>
  <div style="width: 49%; display: inline-block; height: 100%; border: solid; border-width: 2px; background-color: green;">

  </div>
</div>