<button (click)="changeOrientation()">Orientation</button>
<button (click)="clickAction()">Run</button>

<div style="width: 300px; height: 550px; background-color: white; padding: 10px;border: solid; border-width: 1px;"
  *ngIf="vertical">
  <div style="height: 50%; border: solid; border-width: 2px; background-color: green;">
    <svg width="100%" height="100%">
      <rect x="120" y="0" width="50" height="10" fill="white" />
      <rect x="80" y="0" width="2" height="50" fill="white" />
      <rect x="210" y="0" width="2" height="50" fill="white" />
      <rect x="80" y="50" width="130" height="2" fill="white" />
      <circle cx="145" cy="25" r="5" fill="white" />
      <path d="M110 60 C 124 80, 164 80, 182 60" stroke="white" fill="transparent" />
      <image xlink:href="http://cdn.shopify.com/s/files/1/0257/6087/products/48-Soccer-Ball-Solo_Single_Front_ee0e6213-8997-45fc-bfc5-483ef2dc1391.png"
        x="150" y="100" height="20px" width="20px" />
      <image xlink:href="https://static.thenounproject.com/png/58041-200.png" x="60" y="85" height="30px" width="30px" />
      <image xlink:href="https://static.thenounproject.com/png/58040-200.png" x="100" y="85" height="30px" width="30px" />
      <image xlink:href="https://static.thenounproject.com/png/34339-200.png" x="230" y="100" height="30px" width="30px" />
    </svg>
  </div>
  <div style="height: 50%; border: solid; border-width: 2px; background-color: green;">
    <svg width="100%" height="100%">
      <rect x="120" y="265" width="50" height="10" fill="white" />
      <rect x="80" y="225" width="2" height="50" fill="white" />
      <rect x="210" y="225" width="2" height="50" fill="white" />
      <rect x="80" y="225" width="130" height="2" fill="white" />
      <circle cx="145" cy="245" r="5" fill="white" />
      <path d="M110 220 C 124 200, 164 200, 182 220" stroke="white" fill="transparent" />
      <image xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" x="60" y="85"
        height="30px" width="30px" />
      <image xlink:href="https://cdn3.iconfinder.com/data/icons/dragonball-z/48/Paul-12-128.png" x="150" y="85" height="30px"
        width="30px" />
      <image xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/256/dragonball-3-icon.png" x="230" y="100"
        height="30px" width="30px" />
    </svg>
  </div>
</div>

<div style="width: 550px; height: 300px; background-color: white; padding: 10px;border: solid; border-width: 1px;"
  *ngIf="!vertical">
  <div style="width: 100%; display: inline-block; height: 100%; border: solid; border-width: 2px; background-color: green;">
    <svg id="field1" width="100%" height="100%">

      <rect x="0" y="75" width="75" height="150" />
      <rect x="0" y="120" width="35" height="60" />

      <path d="M75 120 C 100 140, 100 160, 75 180" stroke="white" fill="transparent" />
      <image x="0" y="135" xlink:href="https://static.thenounproject.com/png/58041-200.png" height="30px" width="30px" (click)="goHere($event)"/>
      
      <image x="75" y="30" xlink:href="https://static.thenounproject.com/png/58041-200.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="75" y="90" xlink:href="https://static.thenounproject.com/png/58041-200.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="75" y="180" xlink:href="https://static.thenounproject.com/png/58041-200.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="75" y="240" xlink:href="https://static.thenounproject.com/png/58041-200.png" height="30px" width="30px"  (click)="goHere($event)" />
      
      <image x="130" y="30" xlink:href="https://static.thenounproject.com/png/58041-200.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="130" y="90" xlink:href="https://static.thenounproject.com/png/58041-200.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="130" y="180" xlink:href="https://static.thenounproject.com/png/58041-200.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="130" y="240" xlink:href="https://static.thenounproject.com/png/58041-200.png" height="30px" width="30px"  (click)="goHere($event)" />
      
      <image x="185" y="60" xlink:href="https://static.thenounproject.com/png/58041-200.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="185" y="210" xlink:href="https://static.thenounproject.com/png/58041-200.png" height="30px" width="30px"  (click)="goHere($event)" />

      <image id="image1" xlink:href="http://cdn.shopify.com/s/files/1/0257/6087/products/48-Soccer-Ball-Solo_Single_Front_ee0e6213-8997-45fc-bfc5-483ef2dc1391.png"
        x="200" y="200" height="20px" width="20px" />
      
      <line x1="275" y1="0" x2="275" y2="300" style="stroke:white;stroke-width:2;" />
      <circle cx="275" cy="145" r="35" fill="white" />

      <rect x="455" y="75" width="75" height="150" />
      <rect x="495" y="120" width="35" height="60" />
      
      <path d="M455 120 C 425 140, 425 160, 455 180" stroke="white" fill="transparent" />
      
      <image x="317" y="60" xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="317" y="210" xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" height="30px" width="30px"  (click)="goHere($event)" />


      <image x="370" y="30" xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="370" y="90" xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="370" y="180" xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="370" y="240" xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" height="30px" width="30px"  (click)="goHere($event)" />
      
      
      <image x="425" y="30" xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="425" y="90" xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="425" y="180" xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" height="30px" width="30px"  (click)="goHere($event)" />
      <image x="425" y="240" xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" height="30px" width="30px"  (click)="goHere($event)" />
      
      <image x="500" y="135" xlink:href="http://icons.iconarchive.com/icons/iconshock/dragonball/128/dragonball-4-icon.png" height="30px" width="30px"  (click)="goHere($event)" />
      
    </svg>
  </div>
</div>
